.BottomLeft{
    position: fixed;
    height: 37%;
    width: 37%;
    left: 25%;
    top: 63%;
}
.BottomRight{
    position: fixed;
    height: 40%;
    width: 40%;
    left: 80%;
    top: 63%;
}
.TopLeft{
    position: fixed;
    height: 37%;
    width: 37%;
    left: 25%;
    top: 0%;
}
.TopRight{
    position: fixed;
    height: 37%;
    width: 37%;
    left: 80%;
    top: 0%;
}
.BigText{
    position: fixed;
    top: 70%;
    left: 60%;
    text-align: center;
    vertical-align: middle;
    margin-top: -12%;
    margin-left: -25%;
    width: 50%;
    height: 50%;
    font-size: 3rem;
}
.TurnText{
    position: fixed;
    top: 10%;
    left: 60%;
    text-align: center;
    vertical-align: middle;
    margin-left: -25%;
    width: 50%;
    height: 50%;
    font-size: 2rem;
}
.SideMenu{
    position: absolute;
    left: 0%; 
    height:98%; 
    transition: 0.5s; 
    font-size:1.25em;
    text-align: center;
}